.codeItem {
    cursor: pointer;
    padding: 5px;
    margin: 2px 0;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    color: black;
    display: grid;
    grid-template-columns: auto auto;
    align-items: start;
    justify-content: start;
}

.colorChip {
    margin: 0;
    height: 1em;
}

.codeName {
    margin-left: 4px;
}

.codeItem:hover {
    opacity: 0.8;
}

.subcodes {
    margin-left: 20px;
}