:root {
    --node-selected-background: #0078d4;
    --node-selected-color: white;
}

.file-browser {
    text-wrap: nowrap;
    overflow-x: auto;
}

.node {
    cursor: pointer;
    user-select: none;
    text-wrap: nowrap;
    display: grid;
    grid-template-columns: 1em 1fr;
    align-items: center;
    gap: 4px;
}

.toggle {
    font-size: .6em;
    text-align: center;
}

.fileIndicator > svg {
    height: 1em;
    width: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
