:root {
    --node-selected-background: #0078d4;
    --node-selected-color: white;
}

.file-browser {
    text-wrap: nowrap;
    overflow-x: auto;
}

.node {
    cursor: pointer;
    user-select: none;
    text-wrap: nowrap;
}
